@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #1e1e1e;
    --color-secondary: #279af1;
    --color-gray-100: #2b2b2b;
    --color-dark-100: #0f0d23;
}

@layer base {
    html {
        ::-webkit-scrollbar {
            @apply w-2 rounded-full bg-white;
        }

        ::-webkit-scrollbar-thumb {
            @apply bg-secondary rounded-full;
        }
    }

    body {
        font-family: "Zen Kaku Gothic Antique", sans-serif;
        font-optical-sizing: auto;
        @apply bg-primary h-screen w-screen overflow-hidden text-white;
    }

    #root {
        @apply h-full max-h-full w-full max-w-full;
    }
}

@layer components {
    h3 {
        @apply text-2xl font-bold md:text-3xl;
    }

    button {
        @apply cursor-pointer text-sm font-black md:text-base;

        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    .button {
        @apply bg-secondary hover:text-primary rounded-lg p-2 transition-colors hover:bg-white md:p-3;

        &:disabled {
            @apply text-primary/50 bg-white/50;
        }
    }

    .button.outlined {
        @apply border-secondary text-secondary hover:bg-secondary border bg-transparent hover:text-white;

        &:disabled {
            @apply border-white/50 text-white/50;
        }
    }
}
